.dummy {
    margin-top: 100%;
}
.thumbnail {
    color: #5bc0de;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(40% - 30px);
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
/*.row.content {height: 1500px}
*/
.container {
 /*   padding: 25px;
  /*  position: fixed;
    left: 25%;*/
}

li.ui-state-default{
    background:#fff0;
    border:none;
    border-bottom:1px solid #ddd;
    text-align: left;
    padding-bottom: 10px;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.btn,.form-control,.well {
    border-radius:1px;
    box-shadow:0 0 0;
}

.form-control {
    border-color:#d7d7d7;
}

.btn-primary {
    border-color:transparent;
}

.btn-primary, .list-group-item.active:focus {
    background-color:#4285f4;
} 

.btn-plus {
    background-color:#ffffff;
    border-width:1px;
    border-color:#dddddd;
    box-shadow:1px 1px 0 #999999;
    border-radius:3px;color:#666666;
    text-shadow:0 0 1px #bbbbbb;
}

.well,.panel {
    border-color:#d2d2d2;
    box-shadow:0 1px 0 #cfcfcf;
    border-radius:3px;
}

hr {
 border-color:#ececec;
}

button {
 outline: 0;
}

.btn span{
 color:#666666;
}

.list-group-item:first-child,.list-group-item:last-child {
 border-radius:0;
}

h3 { 
 border:0 solid #efefef; 
 border-bottom-width:1px;
 padding-bottom:10px;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);


body{margin:10px;}

.stepwizard-step p 
{
margin-top: 10px;    
}

.stepwizard-row 
{
display: table-row;
}

.stepwizard 
{
display: table;     
width: 100%;
position: relative;
}

.stepwizard-row:before 
{
top: 14px;
bottom: 0;
position: absolute;
content: " ";
width: 100%;
height: 1px;
background-color: #ccc;
z-order: 0;
}

.stepwizard-step 
{    
display: table-cell;
text-align: center;
position: relative;
}

.btn-circle 
{
width: 30px;
height: 30px;
text-align: center;
padding: 6px 0;
font-size: 12px;
line-height: 1.428571429;
border-radius: 15px;
}


.btn-outline 
{
background-color: transparent;
color: inherit;
border-width: 2px;
}

.btn-success.btn-outline 
{
border-color: #235223;
color: #fff;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.btn-success.btn-outline:hover 
{
color: #fff;
}

.btn-default.btn-outline 
{
background-color: #ebebeb;
border-color: #cccccc;
color: #6666666;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.btn-circle 
{
width: 45px;
height: 45px;
text-align: center;
padding: 8px 10px;
font-size: 20px;
line-height: 1.33;
border-radius: 30px;
}